        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootswatch.js"></script>
	<footer>
		<div class="container">
			<p class="text-muted"><a href="http://up1ter.deviantart.com/art/Bliss-334243173">Background image</a> by <a href="http://up1ter.deviantart.com/">up1ter</a>. The PonyChat staff believes all content in this site to be in fair use, All Rights Reserved.</p>
		</div>
	</footer>
    </body>
</html>

