body{
    padding-top:50px;
    background-image: url("/img/background.png");
    background-position: center;
    background-attachment: fixed;
}

table {
	align: center;
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
table td {
	border-width: 1px;
	padding: 4px;
	border-style: inset;
	border-color: gray;
	background-color: white;
}

.staff-box {
	border: 1px solid #AAA;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 3px 3px 4px #CCC;
	-webkit-box-shadow: 3px 3px 4px #CCC;
	box-shadow: 3px 3px 4px #CCC;
	-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=4,  Direction=135,  Color='#CCCCCC')";
	height: 82px;
	margin: 20px auto;
}
.staff-box a {
	border: 0 none;
}
.staff-box img.avatar {
	width: 80px;
	height: 80px;
	float: left;
	margin: 0px 10px 0px 0px;
	border-right:1px solid #AAA;
	border-radius: 10px 0px 0px 10px;
}

h3 {
	padding-top: 60px;
	margin-top: -60px;
}

.widther {
	max-width: 850px;
	margin: auto;
	position: relative;
}

.container {
	max-width: 850px;
	margin: auto;
	position: relative;
	background-color: white;
}

.jumbotron {
	background-image: url("/img/jumbotron.png");
	background-position: center;
	color: white;
}
