{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

    <div class="container">
<pre>
####                       ##   #              #
#   #   ###   ###   #  #  #  #  #       ###    #
####   #   #  #  #  #  #  #     ####       #  ###
#      #   #  #  #   ###  #     #   #   ####   #
#      #   #  #  #     #  #  #  #   #  #   #   #
#       ###   #  #     #   ##   #   #   ####   ##
                    ###
                            http://ponychat.horse
</pre>

<h2>Welcome, everypony, to the PonyChat Network!</h2>

<table><tr>
<td>
<h3>Who are we?</h3>
<p>We are a bunch of ponies stuck inside the internet oh god help us please someone D:</p>
</td>
<td>
<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#"><img src="/img/emailme.gif">staff@ponychat.net</a>
</address>
</td>
</tr></table>

<h2>Our Blog</h2>

        {{ range .Data.Pages }}
        <div>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <span class="lead">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
            <p>{{ .Summary }}</p>
        </div>
        {{ end }}

        {{ partial "container-footer.html" . }}
    </div>

{{ partial "footer.html" . }}
