{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div style="border-radius: 0px 0px 6px 6px;" class="jumbotron">
      <h1>Welcome, everypony, to the PonyChat Network!</h1>
      <p>We are an IRC network dedicated to the community behind the television show My Little Pony: Friendship is Magic. We have been in service for 4 years and plan to be around for many more to come.</p>
      <p><a class="btn btn-primary btn-lg" href="/webchat" role="button">Chat Now</a></p>
    </div>

    <div id="yo-button"></div>

		<h2>Our Blog</h2>
                {{ range .Data.Pages.GroupBy "Section" }}
                {{ if eq .Key "blog" }}
                        {{ range .Pages }}
                        <div>
                                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                <span class="lead">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
                                <p>{{ .Summary }}</p>
                        </div>
                        {{ end }}
 
                        {{ partial "container-footer.html" . }}
                {{ end }}
                {{ end }}

                        <script type="text/javascript">
                          var _yoData = {
                            "username": "PONYCHAT",
                            "trigger": "a new blog post is published"
                          };

                          var s = document.createElement("script");
                          s.type = "text/javascript";
                          s.src = "//yoapp.s3.amazonaws.com/js/yo-button.js";
                          (document.head || document.getElementsByTagName("head")[0]).appendChild(s);
                        </script>
</div>

{{ partial "footer.html" . }}
